{
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "extends": "google",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "new-cap": [
      "error",
      {
        "capIsNew": false
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "max-len": [
      2,
      200,
      4
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}
